<div *ngIf="list != undefined && list.length > 0">
  <table border="1">
    <tr>
      <th>From</th>
      <th>To</th>
      <th colspan=3 class="text-center">Option</th>
    </tr>
    <tr *ngFor="let item of list">
        <td>{{item.To}}</td>
        <td>{{item.From}}</td>
        <td><a [routerLink]="['/home','pricelist',item.Id,'update']" class="btn btn-info btn-xs">Update</a></td>
        <td><a [routerLink]="['/home','pricelist',item.Id]" class="btn btn-success btn-xs">Details</a></td>
        <td><button class="btn btn-danger btn-xs" (click)="onRemove(item.Id)">Remove</button></td>
      </tr>
  </table>
  <div *ngIf="list == undefined || list.length == 0">
    <h4>There are no active price lists at the moment.</h4>
  </div>