<div>
  <form [formGroup]="priceListForm" (submit)="onSubmit()">
    <div class="form-group">
        <label for="From">From: </label>
        <input type="date" id="From" formControlName="From" class="form-control">
    </div>
    <div class="form-group">
      <label for="To">To: </label>
      <input type="date" id="To" formControlName="To" class="form-control">
    </div>
    <div class="form-group">
      <label for="HourId">Hour items: </label>
      <select  formControlName="HourId" class="form-control" *ngFor="let item of hourItems">
        <option value={{item.Id}}>{{item.TicketDefinition.Price}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="DayId">Day items: </label>
      <select  formControlName="DayId" class="form-control" *ngFor="let item of dayItems">
        <option value={{item.Id}}>{{item.TicketDefinition.Price}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="MonthId">Month items: </label>
      <select  formControlName="MonthId" class="form-control" *ngFor="let item of monthItems">
        <option value={{item.Id}}>{{item.TicketDefinition.Price}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="YearId">Year items: </label>
      <select  formControlName="YearId" class="form-control" *ngFor="let item of yearItems">
        <option value={{item.Id}}>{{item.TicketDefinition.Price}}</option>
      </select>
    </div>
    <hr>
    <button type="submit">Add PriceList</button>
  </form>
</div>