<div>
  <form [formGroup]="changePasswordForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="OldPassword">Old password: </label>
      <input type="password" formControlName="OldPassword" class="form-control">
    </div>
    <div class="form-group">
      <label for="NewPassword">New password: </label>
      <input type="password" formControlName="NewPassword" class="form-control">
    </div>
    <div class="form-group">
      <label for="ConfirmPassword">Confirm new password: </label>
      <input type="password" formControlName="ConfirmPassword" class="form-control">
    </div>
    <hr>
    <button type="submit" class="btn btn-success">Change password</button>
  </form>
</div>
