<div class="row">
  <div class="col-md-5" *ngIf="user != undefined">
    <div>
      <h4>Firstname: {{user.FirstName}}</h4>
    </div>
    <div>
      <h4>Lastname: {{user.LastName}}</h4>
    </div>
    <div>
      <h4>User type: {{user.UserType}}</h4>
    </div>
    <div *ngIf="role === 'Passenger'">
      <h4>Passenger type: {{user.PassengerType}}</h4>
    </div>
    <div *ngIf="role === 'Passenger'">
      <h4>Document: </h4>
      <img src="{{user.EncodedImage}}" />
    </div>
  </div>
  <div class="col-md-5 col-md-offset-1">
    <router-outlet></router-outlet>
  </div>
</div>