<div *ngIf="stations != undefined && stations.length > 0">
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Latitude</th>
        <th>Longitude</th>

      </tr>
      <tr *ngFor="let item of stations">
          <td>{{item.Name}}</td>
          <td>{{item.Address}}</td>
          <td>{{item.Latitude}}</td>
          <td>{{item.Longitude}}</td>
      </tr>
    </table>
    </div>
    <div *ngIf="stations == undefined || stations.length == 0">
        <h4>Selected line does not contain any bus stations at the moment.</h4>
    </div>
