
<div>
<table border="1">
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>PassengerType</th>
    <th>Date of Birth</th>
    <th>Image</th>
  </tr>
  <tr *ngFor="let user of activationList">
      <td>{{user.FirstName}}</td>
      <td>{{user.LastName}}</td>
      <td>{{user.Email}}</td>
      <td>{{getPassengerTypeString(user.PassengerType)}}</td>
      <td>{{user.DoB}}</td>
      <td><a href={{user.Image}}></a></td>
  </tr>
</table>
<form [formGroup]="acceptenceForm" (submit)="onAccept()">
    <div>
      <label for="Id">Id: </label>
      <input type="number" formControlName="Id" class="form-control"/>
      <button type="submit">Accept</button>
    </div>
  </form>
  
  <form [formGroup]="acceptenceForm" (submit)="onDeny()">
    <div>
      <label for="Id">Id: </label>
      <input type="number" formControlName="Id" class="form-control"/>
      <button type="submit">Deny</button>
    </div>
  </form>