<form [formGroup]="removeDepartureForm" (submit)="onRemove()">
  <div>
    <label for="DepId">DepartureId: </label>
    <input type="number" formControlName="DepId" class="form-control" />
    <button type="submit">Remove</button>
  </div>
</form>
<div class="row well well-sm pre-scrollable">
  <div class="list-group">
    <ul *ngFor="let departure of departures">
       <li>{{departure.Id}}</li>
      <li>{{departure.Time}}</li>
      <li>{{getDayTypeString(departure.DayType)}}</li>
      <li>{{departure.Line.Name}}</li>
      <li>{{getLineTypeString(departure.Line.LineType)}}</li>
      <li>{{departure.Active}}</li>
    </ul>
  </div>
</div>

<table border="1">
  <tr>
    <th>Id</th>
    <th>Time</th>
    <th>DayType</th>
    <th>Line Name</th>
    <th>LineType</th>
    <th>Active</th>
  </tr>
  <tr *ngFor="let departure of departures">
      <td>{{departure.Id}}</td>
      <td>{{departure.Time}}</td>
      <td>{{getDayTypeString(departure.DayType)}}</td>
      <td>{{departure.Line.Name}}</td>
      <td>{{getLineTypeString(departure.Line.LineType)}}</td>
      <td>{{departure.Active}}</td>
  </tr>
</table>
