<div>
    <form [formGroup]="departureForm" (submit)="onSubmit()">
      <div class="form-group">
        <label for="Time">Time: </label>
        <input type="text" id="Time" formControlName="Time" class="form-control">
      </div>
      <label for="DayType">DayType: </label>
      <select  formControlName="DayType" class="form-control">
        <option value=0>WorkDay</option>
        <option value=1>Saturday</option>
        <option value=2>Sunday</option>
      </select>
      <label for="LineId">LineId: </label>
     <select formControlName="LineId"> 
        <option *ngFor="let line of lines" value={{line.Id}}>{{line.Name}} {{getLineTypeString(line.LineType)}}</option>
      </select>

      <hr>
      <button type="submit">Add Departure</button>
    </form>
    <hr *ngIf="validationMessage !== ''">
    <h4 class="text-danger" *ngIf="validationMessage !== ''">
      {{validationMessage}}
    </h4>
    <hr>
  </div>
