<div>
    <form [formGroup]="departureForm" (submit)="onSubmit()">
      <div class="form-group">
        <label for="Time">Time: </label>
        <input type="text" id="Time" formControlName="Time" class="form-control">
      </div>
      <label for="DayType">DayType: </label>
      <select  formControlName="DayType" class="form-control">
        <option value=0>WorkDay</option>
        <option value=1>Saturday</option>
        <option value=2>Sunday</option>
      </select>
      <label for="Line">LineId: </label>
      <input type="text" id="Line" formControlName="Line" class="form-control">
      <ul *ngFor="let line of lines">
        <li>{{line.Id}}</li>
       <li>{{line.Name}}</li>
       <li>{{getLineTypeString(line.LineType)}}</li>
     </ul>
      <hr>
      <button type="submit">Add Departure</button>
    </form>
  </div>
