<form [formGroup]="editProfileForm" (submit)="onSubmit()">
  <div class="form-group">
    <label for="FirstName">Firstname: </label>
    <input type="text" id="FirstName" formControlName="FirstName" class="form-control">
  </div>
  <div class="form-group">
    <label for="LastName">Lastname: </label>
    <input type="text" id="LastName" formControlName="LastName" class="form-control">
  </div>
  <div *ngIf="role === 'Passenger'">
    <label>Document: </label>
    <input (change)="onChange($event)" type="file" accept="image/*" />
  </div>
  <hr *ngIf="validationMessage !== ''">
  <h4 class="text-danger" *ngIf="validationMessage !== ''">
    {{validationMessage}}
  </h4>
  <hr>
  <button type="submit" class="btn btn-success">Save</button>
</form>