<form [formGroup]="removeBusStationForm" (submit)="onRemove()">
  <div>
    <label for="BusStationId">BusStation Id: </label>
    <input type="number" formControlName="BusStationId" class="form-control" />
    <button type="submit">Remove</button>
  </div>
</form>
<table border="1">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Longitude</th>
    <th>Latitude</th>
    <th>Active</th>
  </tr>
  <tr  *ngFor="let busStation of busStations">
      <td>{{busStation.Id}}</td>
      <td>{{busStation.Name}}</td>
      <td>{{busStation.Address}}</td>
      <td>{{busStation.Longitude}}</td>
      <td>{{busStation.Latitude}}</td>
      <td>{{busStation.Active}}</td>
  </tr>
</table>