
  <form [formGroup]="removeLineForm" (submit)="onRemove()">
    <div>
      <label for="LineId">Line id: </label>
      <input type="number" formControlName="LineId" class="form-control" />
      <button type="submit">Remove</button>
    </div>
  </form>
  <div class="row well well-sm pre-scrollable">
    <div class="list-group">
      <ul *ngFor="let line of lines">
         <li>{{line.Id}}</li>
        <li>{{line.Name}}</li>
        <li>{{getLineTypeString(line.LineType)}}</li>
        <li>{{line.Active}}</li>
      </ul>
    </div>
  </div>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>LineType</th>
      <th>Active</th>
    </tr>
    <tr *ngFor="let line of lines">
        <td>{{line.Id}}</td>
        <td>{{line.Name}}</td>
        <td>{{getLineTypeString(line.LineType)}}</td>
        <td>{{line.Active}}</td>
    </tr>
  </table>

