
  <form [formGroup]="removeLineForm" (submit)="onRemove()">
    <div>
      <label for="LineId">Line id: </label>
      <input type="number" formControlName="LineId" class="form-control" />
      <button type="submit">Remove</button>
    </div>
  </form>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>LineType</th>
      <th>Active</th>
      <th colspan = 4 halign = Central>Options</th>
    </tr>
    <tr *ngFor="let line of lines">
        <td>{{line.Id}}</td>
        <td>{{line.Name}}</td>
        <td>{{getLineTypeString(line.LineType)}}</td>
        <td>{{line.Active}}</td>
        <td><a [routerLink]="['/home','lines',line.Id,'add']" class="button">Add</a></td>
        <td><a [routerLink]="['/home','lines',line.Id,'details']" class="button">Details</a></td>
        <td><a [routerLink]="['/home','lines',line.Id,'update']" class="button">Update</a></td>
        <td><a [routerLink]="['/home','lines',line.Id,'remove']" class="button">Remove</a></td>

      </tr>
  </table>

