<div  class="container-fluid">
<label>Username: </label>
<input type="text" placeholder="username" required/>
<br>
<label>Password: </label>
<input type="text" placeholder="password" required/>
<br>
<label>Name: </label>
<input type="text" placeholder="name"/>
<br>
<label>LastName: </label>
<input type="text" placeholder="lastname"/>
<br>
<label>Email: </label>
<input type="email" placeholder="email"/>
<br>
<label>User type: </label>
      <select aria-placeholder="type">
        <option  value="Administrator">Administrator</option>
        <option value="Kontrolor">Kontrolor</option>
        <option value="Djak">Djak</option>
        <option value="Penzioner">Penzioner</option>
        <option value="Regularni">Regularni</option>
      </select>
      <br>
<label>Image: </label>
<input type="file" placeholder="imageUri"/>
<br>
<button (click)="CreateUser()">Ok</button>
<button (click)="Cancel()">Cancel</button>
</div>