<div class=" row well well-sm pre-scrollable">
  <div class="list-group">
  <ul *ngFor="let user of users">
    <li>{{user.FirstName}}</li>
    <li>{{user.LastName}}</li>
    <li>{{user.Email}}</li>
    <li>{{user.Password}}</li>
    <li>{{user.Blocked}}</li>
    <li>{{getUserTypeString(user.UserType)}}</li>
  </ul>
  </div>
</div>



<form [formGroup]="blockForm" (submit)="onBlockUser()">
  <div>
    <label for="UserId">User id: </label>
    <input type="number" formControlName="UserId" class="form-control"/>
    <button type="submit">Block</button>
  </div>
</form>

<form [formGroup]="blockForm" (submit)="onUnBlockUser()">
  <div>
    <label for="UserId">User id: </label>
    <input type="number" formControlName="UserId" class="form-control"/>
    <button type="submit">UnBlock</button>
  </div>
</form>