<table border="1">
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>UserType</th>
    <th>Date of Birth</th>
    <th>Blocked</th>
  </tr>
  <tr *ngFor="let user of users">
      <td>{{user.FirstName}}</td>
      <td>{{user.LastName}}</td>
      <td>{{user.Email}}</td>
      <td>{{getUserTypeString(user.PassengerType)}}</td>
      <td>{{user.DoB}}</td>
      <td>{{user.Blocked}}</td>
  </tr>
</table>


<form [formGroup]="blockForm" (submit)="onBlockUser()">
  <div>
    <label for="UserId">User id: </label>
    <input type="number" formControlName="UserId" class="form-control"/>
    <button type="submit">Block</button>
  </div>
</form>

<form [formGroup]="blockForm" (submit)="onUnBlockUser()">
  <div>
    <label for="UserId">User id: </label>
    <input type="number" formControlName="UserId" class="form-control"/>
    <button type="submit">UnBlock</button>
  </div>
</form>