
    <form [formGroup]="scheduleForm" (submit)="onSubmit()">
        <div class="form-group">
        <label for="DayType">DayType: </label>
          <select  formControlName="DayType" class="form-control">
            <option  value=0>WorkDay</option>
            <option value=1>Saturday</option>
            <option value=2>Sunday</option>
          </select> </div>
          <div class="form-group">
              <label for="LineType">LineType: </label>
                <select  formControlName="LineType" class="form-control">
                  <option  value=0 selected>City</option>
                  <option value=1>OutSkirts</option>
                </select> 
                <button (click)="onSelect()">Select</button>
          </div>
<div *ngIf="lines != undefined && lines.length > 0">

  <div class="form-group" >
    <label for="LineType">Line: </label>
    <select  formControlName="LineId" class="form-control" >
      <option *ngFor="let line of lines" value={{line.Id}}>{{line.Name}}</option>
                  </select>
                </div>
        <hr>
        <button type="submit">Show</button>
      </div>
      </form>
      <div  *ngIf="selected && deparures != undifned && departures.length >0 " class="form-group">
      <br><br>
      <ul *ngFor="let item of departures">
        <li>{{item.Time}}</li>
      </ul>
    </div>
    <div *ngIf="departues == undefined || departues.length == 0">
        <h4>Selected Line does not contain any departures at the moment.</h4>
    </div>
<div>
  <h4>There are no active lines for selected LineType at the moment.</h4>
</div>

  