<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <form [formGroup]="validationForm" (submit)="onValidate()">
        <div class="form-group">
            <label for="TicketId">Ticket id: </label>
            <input type="number" formControlName="TicketId" class="form-control"/>
        </div>
        <hr>
        <button type="submit" class="btn btn-success">Validate</button>
        </form>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <h4 class="{{classBinding}}">{{message}}</h4>
    </div>
</div>